
<div id="otherExistingEmp" class="panel-group mb-3" style="display:none">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">Other Employee Details</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12 no_padd">
                        <div class="form-group col-lg-4 required right-padding ui-widget">
                            <label id="lblOtherEmpName" class="control-label">Name (Type at least 4 letters for faster results)</label>
                            <input type="text" name="txtOtherEmpname" id="txtOtherEmpname" class="form-control" required="required">
                        </div>
                        <div class="form-group col-lg-4 required right-padding">
                            <label id="lblOtherEmpUserID" class="control-label">User ID</label>
                            <input type="text" name="txtOtherUserId" id="txtOtherUserId" class="form-control" required="required" disabled="disabled">
                        </div>
                        <div class="form-group col-lg-4 required right-padding">
                            <label id="lblOtherEmpDept" class="control-label">EmployeeDept</label>
                            <input type="text" name="txtOtherEmpdept" id="txtOtherEmpDept" class="form-control" required="required" disabled="disabled">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 no_padd">
                        <div class="form-group col-lg-4 required right-padding">
                            <label id="lblOtherEmpCCCode" class="control-label">Cost Center</label>
                            <input type="text" name="txtOtherEmpCCCode" id="txtOtherEmpCCCode" class="form-control" required="required" disabled="disabled">
                        </div>
                        <div class="form-group col-lg-4 required right-padding">
                            <label id="lblOtherEmpCode" class="control-label">Employee Code</label>
                            <input type="text" name="txtOtherEmpCode" id="txtOtherEmpCode" class="form-control" required="required" disabled="disabled">
                        </div>
                        <div class="form-group col-lg-4 required right-padding">
                            <label id="lblOtherEmpEmailId" class="control-label">Email ID</label>
                            <input type="text" name="txtOtherEmpEmailId" id="txtOtherEmpEmailId" class="form-control" required="required" disabled="disabled">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 no_padd">
                        <div class="form-group col-lg-4 required right-padding">
                            <label id="lblOtherEmpLevel" class="control-label">Designation</label>
                            <select name="ddOtherExistingEmpLevel" id="ddOtherExistingEmpLevel" class="form-control"></select>
                        </div>
                        <div class="form-group col-lg-4 required right-padding">
                            <label id="lblOtherEmpLocation" class="control-label">Location</label>
                            <select name="ddOtherExistingEmpLocation" id="ddOtherExistingEmpLocation" class="form-control"></select>
                        </div>
                        <div class="form-group col-lg-4 required right-padding">
                            <label id="lblOtherEmpContactNo" class="control-label">Contact No. (Sample Format: 111-111-1111 or 1111)</label>
                            <input type="text" name="txtOtherEmpContactNo" id="txtOtherEmpContactNo" class="form-control" maxlength="12">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 no_padd">
                        <div class="form-group col-lg-3 required right-padding">
                            <label id="lblOtherEmpType" class="radio control-label">Type of Employee</label>
                            <input type="radio" name="TypeOfOtherEmployee" value="Internal"> Internal
                            <input type="radio" name="TypeOfOtherEmployee" value="External"> External/Business Vendor
                        </div>
                        <div class="form-group col-lg-3 right-padding">
                            <label id="lblOtherEmpExternalOrg" style="display: none;" class="control-label">External Organisation Name:</label>
                            <select id="ddOtherEmpExternalOrgName" class="form-control" style="display: none"></select>
                        </div>
                        <div id="divOtherEmpExtOrgName" class="form-group col-lg-6 right-padding" style="display: none;">
                            <label id="lblOtherEmpExternalOrg" class="control-label">Other External Organisation Name:</label>
                            <input type="text" id="txtOtherEmpExtOrgName" class="form-control" maxlength="100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



