@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>


    <h2 class="text-danger">There is some issue while processing your request. Please contact administrator.</h2>
    <h2 class="text-danger">If you are an external employee, Smartphone request is not allowed.</h2>
</body>
</html>
