
@{
    ViewBag.Title = "Search";
}



@*<div class="col-lg-10">
        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search employee...." id="searchText">
    </div>
    <div class="col-lg-2">
        <button class="btn btn-success" type="submit" onclick="SearchEmployee();">Search</button>
    </div>*@

<div class="ui-widget form-group">
    <label for="tags">Employee Search: </label>
    <input id="tags" class="form-control">
</div>



