<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="connectionString"
			 connectionString="Data Source=WIN-6CGSDMG51OD; initial Catalog=VWFormAutomation_New;Integrated Security=true;" providerName="System.Data.SqlClient"
			  xdt:Transform="Replace" xdt:Locator="Match(name)" />
	</connectionStrings>
	<log4net>
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<param xdt:Transform="Replace" xdt:Locator="Match(name)" name="File" value="C:\Skoda_eforms Publish\Skoda_Eforms\Logger\log4net.log" />
		</appender>
	</log4net>
	<appSettings>
		<add  xdt:Transform="Replace" xdt:Locator="Match(key)" key="SharepointServerURL" value="http://win-6cgsdmg51od:8080/sites/DCMS/" />
		<add  xdt:Transform="Replace" xdt:Locator="Match(key)" key="LDAPURL" value="LDAP://win-6cgsdmg51od.apac.savwipl.vwg"/>
	</appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>