<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="connectionString"
			 connectionString="Data Source=WIN-6CGSDMG51OD; initial Catalog=ProductionDB;Integrated Security=true;" providerName="System.Data.SqlClient"
			  xdt:Transform="Replace" xdt:Locator="Match(name)" />
	</connectionStrings>
	<appSettings>		
		<add  xdt:Transform="Replace" xdt:Locator="Match(key)" key="SharepointServerURL" value="http://win-6cgsdmg51od:8080/sites/DCMS/" />
		<add  xdt:Transform="Replace" xdt:Locator="Match(key)" key="LDAPURL" value="LDAP://win-6cgsdmg51od.apac.savwipl.vwg"/>	
	</appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>