@*@model IEnumerable<Skoda_DCMS.Models.Delegation>*@

@{
    ViewBag.Title = "PasswordChange";
    Layout = null;
    var user = (Skoda_DCMS.Models.UserData)HttpContext.Current.Session["UserData"];
}

<style>
    .ui-autocomplete {
        z-index: 10000 !important;
    }
    .submit-btn {
        background: #3D3D3D;
        border-radius: 5px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 173.7%;
        padding: 0.5rem 2rem;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        border-color: transparent !important;
    }
    /*Animation CSS Starts*/

    div.input-block {
        position: relative;
    }

        div.input-block input {
            font-weight: 500;
            font-size: 1rem;
            color: #000;
            width: 188px;
            padding: 15px 15px;
            border-bottom-left-radius: 5px !important;
            border-top-left-radius: 5px !important;
            border-bottom-right-radius: 5px !important;
            border-top-right-radius: 5px !important;
            border: 1px solid #D9D9D9;
            outline: none;
        }




        div.input-block span.placeholder {
            position: absolute;
            margin: 17px 0;
            padding: 0 4px;
            font-family: Roboto, sans-serif;
            color: #6c757d;
            display: flex;
            align-items: center;
            font-size: 1rem;
            top: -6px;
            left: 15px;
            transition: all 0.2s;
            transform-origin: 0% 0%;
            background: none;
            pointer-events: none;
            z-index: 1;
        }

        div.input-block textarea:focus + span.placeholder {
            transform: scale(0.8) translateY(-25px);
            background-color: #fff !important;
        }

        div.input-block textarea:valid + span.placeholder,
        div.input-block textarea:focus + span.placeholder {
            transform: scale(0.8) translateY(-25px) !important;
            background: #fff !important;
        }

        div.input-block input:valid + span.placeholder,
        div.input-block input:focus + span.placeholder {
            transform: scale(0.8) translateY(-25px);
            background-color: rgb(219,238,213);
        }


        div.input-block input.spanUpperSide + span.placeholder {
            transform: scale(0.8) translateY(-25px);
            background-color: rgb(219,238,213);
        }

        div.input-block input:read-only + span.placeholder,
        div.input-block input:read-only + span.placeholder {
            transform: scale(0.8) translateY(-25px);
            background: rgb(219,238,213);
        }
    .ui-autocomplete-input {
        height: 45px;
    }
    @*div.input-block input:valid + span.placeholder, div.input-block input:focus + span.placeholder {
        background-color: rgb(255,255,255);
    }*@
    div.input-block input[type='date'] {
        height: 45px;
        width:100%;
    }

    div.input-block span.leftSpaceDelegation {
        left: 23px !important;
        background-color: rgb(255,255,255) !important;
    }
    .htDeleteDelegation {
        height: 30px !important;
        padding: 0 20px 4px 20px !important;
        font-size: 13px !important;
        max-width: 100px !important;
        margin-left: 0;
    }
    #delegate-list-table th {
        padding-left: 10px !important;
    }
    .cursPointer {
        cursor: pointer;
    }
    .passwordicon {-webkit-text-security: circle;}
</style>



<div class="container-fluid page-body-wrapper" onload="javascript:Clearform()">
    <div class="card">
        <div class="card-body">
            @*<h2 class="card-title font-h2 f-500 text-center">Edit User Details</h2>*@

            <div class="row">
                <div class="form-group col-6">
                    <label class="col-sm-8 form-label">First Name </label>
                    <div class="col-sm-10">
                        <input type="text"
                               class="form-control radius-5"
                               id="firstName"
                               placeholder="Enter First Name"
                               autocomplete="off"
                               value="@user.FirstName" readonly />

                        <input type="hidden" value="@user.EmpNumber" id="userID" />
                    </div>
                </div>

                <div class="form-group col-6">
                    <label class="col-sm-8 form-label">Last Name </label>
                    <div class="col-sm-10">
                        <input type="text"
                               class="form-control radius-5"
                               id="lastName"
                               placeholder="Enter Last Name"
                               autocomplete="off"
                               value="@user.LastName" readonly />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <label class="col-sm-8 form-label">Email Id </label>
                    <div class="col-sm-10">
                        <input type="text"
                               class="form-control radius-5"
                               id="emailId"
                               placeholder="Enter Email Id"
                               autocomplete="off"
                               value="@user.Email" readonly />
                    </div>
                </div>
            </div>

            @*<div class="row">
                <div class="form-group col-12">
                    <label class="col-auto form-label" for="isChangePassword">Change Password</label>
                    <div class="col-5" style="display: inline;">
                        <input type="checkbox"
                               class="form-check-input"
                               id="isChangePassword"
                               onchange="EnablePassword(this)" />
                    </div>

                </div>
            </div>*@
        <div class="password-center" id="passwordDiv">
            <div class="row">
                <div class="form-group col-6">
                    <label class="col-sm-8 form-label">Current Password <span style="color:red">*</span></label>
                    <div class="col-sm-10">
                        <input type="password"
                               class="form-control radius-5 passwordicon"
                               id="currentPassword"
                               placeholder="Enter Current Password"
                               autocomplete="off" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <label class="col-sm-8 form-label">New Password <span style="color:red">*</span></label>
                    <div class="col-sm-10">
                        <input type="password"
                               class="form-control radius-5 passwordicon"
                               id="newPassword"
                               placeholder="Enter New Password"
                               autocomplete="off" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <label class="col-sm-8 form-label">Confirm New Password <span style="color:red">*</span></label>
                    <div class="col-sm-10">
                        <input type="password"
                               class="form-control radius-5 passwordicon"
                               id="confirmNewPassword"
                               placeholder="Enter Confirm New Password"
                               autocomplete="off" />
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="button" class="btn btn-info" onclick="Submit()" id="editUserBtn">
                    Save
                </button>
            </div>

        </div>


        </div>
    </div>
</div>
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="toast" style="z-index: 1;">
    <div class="toast-header" id="toastHeaderDiv">
        <strong class="mr-auto" id="toastTitle">Title</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        <span id="toastMsg">
            Message here
        </span>
    </div>
</div>


<script>
    //document.addEventListener("DOMContentLoaded", function () {
    //    Clearform();
    //});
    //window.onload = Clearform;
    function ValidateEmptyAndSpaces(fieldValue, fieldId) {
        var pattern = /^[0-9a-zA-Z\s]+$/i;
        if (String(fieldValue).match(pattern))
            return true;
        DisplayAlert('warning', 'Warning', 'Only alphabets and numbers are allowed. Spaces and special characters are not allowed', 5000);
        $("#" + fieldId).focus();
        return false;
    }
    function Clearform() {
        
        $("#currentPassword").val('');
        $("#newPassword").val('');
        $("#confirmNewPassword").val('');
    }

    function ValidateEmail(fieldValue, fieldId) {
        var pattern = /[a-zA-Z0-9_\.\+-]+@@[a-zA-Z0-9-]+\.[a-zA-Z0-9-\.]+/;
        if (String(fieldValue).match(pattern))
            return true;
        DisplayAlert('warning', 'Warning', 'Invalid Email Address', 5000);
        $("#" + fieldId).focus();
        return false;
    }

    function ValidateEmpty(fieldValue, fieldId) {
        if ((fieldValue == "" || fieldValue.trim().length == 0) || !fieldValue) {
            DisplayAlert('warning', 'Warning', 'Please fill all mandatory fields (Fields marked with * are mandatory)', 5000);
            $("#" + fieldId).focus();
            return false;
        }
        return true;
    }

    function ValidatePassword() {
        cpasswd = $("#currentPassword").val();
        npasswd = $("#newPassword").val();
        cnpasswd = $("#confirmNewPassword").val();
        if (npasswd != cnpasswd) {
            DisplayAlert('warning', 'Warning', 'New Password and Confirm New Password do not match', 5000);
            $("#confirmNewPassword").focus();
        }
        return (ValidateEmpty(cpasswd, "currentPassword") && ValidateEmpty(npasswd, "newPassword") && ValidateEmpty(cnpasswd, "confirmNewPassword")
            && npasswd == cnpasswd);
    }

    function Submit() {
        var validationFailed = true;

        //var firstName = $("#firstName").val();
        //var lastName = $("#lastName").val();
        //var emailId = $("#emailId").val();
        //var checkBox = document.getElementById("isChangePassword");
        //var isPasswordChange = $(checkBox).prop("checked");
        var currentPassword = $("#currentPassword").val();
        var newPassword = $("#newPassword").val();
        var confirmNewPassword = $("#confirmNewPassword").val();
        var Id = $("#userID").val();

        //validationFailed = ValidateEmptyAndSpaces(firstName, "firstName");
        //if (!validationFailed)
        //    return;
        //validationFailed = ValidateEmptyAndSpaces(lastName, "lastName");
        //if (!validationFailed)
        //    return;
        //validationFailed = ValidateEmail(emailId, "emailId");
        //if (!validationFailed)
        //    return;

        if (!ValidatePassword())
            return;

        var model = {
            ID: Id,
            CurrentPassword:  currentPassword ,
            NewPassword:  newPassword ,
            ConfirmNewPassword:  confirmNewPassword,
        };
        
        $.ajax({
            url: '/Dashboard/ChangePassword',
            type: 'post',
            data: JSON.stringify(model),
            contentType: "application/json",
            dataType: 'json',
            success: function (data) {
                
                if (data.Status == 200) {
                    swal({
                        title: "Success!",
                        text: data.Message,
                        type: "success"
                    });
                    DisplayAlert("success", "Success", data.Message);
                    //$(checkBox).prop("checked", false);
                    $("#currentPassword").val("");
                    $("#newPassword").val("");
                    $("#confirmNewPassword").val("");
                    $("#currentPassword").attr("disabled", true);
                    $("#newPassword").attr("disabled", true);
                    $("#confirmNewPassword").attr("disabled", true);
                    return;
                }
                swal({
                    title: "Warning!",
                    text: data.Message,
                    type: "warning"
                });
                //DisplayAlert("error", "Failed", data.Message);
            },
        });
    }


</script>

