
@{
    ViewBag.Title = "PhotoPermitForm";
}

<h2>PhotoPermitForm</h2>
<table class="w-100 skoda-auto-container">
    <tr>
        <td>
            <table class="w-100 skoda-table-2">
                <tr>
                    <td colspan="3" class="skoda-text-center skoda-weight skoda-pb">ŠKODA AUTO Volkswagen India Private Limited</td>
                    <td class="skoda-border-0"></td>
                    <td class="skoda-border-0"></td>
                </tr>
                <tr>
                    <td colspan="0">
                        <table class="skoda-table-2 w-100">
                            <tr>
                                <td class="border-0 skoda-text-center skoda-weight">Photography Authorization Form</td>
                            </tr>
                            <tr>
                                <td class="border-0 skoda-text-center skoda-weight">Media - Capturing/enabled camera/video camera</td>
                            </tr>
                        </table>
                    </td>
                    <td colspan="2" class="pl-15">Date: / /</td>
                    <td class="skoda-border-0"></td>
                </tr>
                <tr>
                    <td colspan="3" class="skoda-weight">Applicant details</td>
                    <td class="skoda-border-0"></td>
                    <td class="skoda-border-0"></td>
                </tr>
                <tr>
                    <td>Surname:</td>
                    <td colspan="2">Telephone (office):</td>
                    <td class="skoda-border-0"></td>
                </tr>
                <tr>
                    <td>First Name:</td>
                    <td colspan="2">Mobile:</td>
                    <td class="skoda-border-0"></td>
                </tr>

                <tr>
                    <td>Employee ID No:</td>
                    <td>Partner employee company:</td>

                    <td>Department:</td>
                </tr>
                <tr>
                    <td colspan="3">
                        This certifies that the above mentionedf person is the designated user of the media recording device (picture, video, sound, etc.) as detailed below:
                    </td>
                    <td class="skoda-border-0"></td>
                    <td class="skoda-border-0"></td>
                </tr>
                <tr>
                    <td class="weight-600">Video camera / camera / mobile / tablet (please tick)</td>
                    <td colspan="2" class="weight-600">Device details</td>
                    <td class="skoda-border-0"></td>
                </tr>
                <tr>
                    <td>Make:</td>
                    <td>Model:</td>
                    <td class="clr-red">Serial/IMEI No:</td>
                </tr>
                <tr>
                    <td>SAVWIPL owned?</td>
                    <td>Yes</td>
                    <td>If ‘No’ (no permission granted)</td>
                </tr>
                <tr>
                    <td>Extra functionality:</td>
                    <td>Capture voice/sound</td>
                    <td>Capture Images</td>
                </tr>
                <tr>
                    <td>Capture video:</td>
                    <td></td>
                    <td>Bluetooth/Wireless</td>
                </tr>
                <tr>
                    <td colspan="3" class="skoda-pb-30">The designated user understands:</td>
                    <td class="skoda-border-0"></td>
                    <td class="skoda-border-0"></td>
                </tr>
                <tr>
                    <td colspan="3" class="bt-0 bb-0">That he/she will refrain from making use of any video-capturing and/or picture-capturing facilities of the video camera/camera detailed above, for personal or any other usage other than authorized, within the premises of  ŠKODA AUTO Volkswagen India Private Limited  unless explicit authorization is granted by the Head of Department.</td>
                    <td class="skoda-border-0 bt-0 bb-0"></td>
                    <td class="skoda-border-0 bt-0 bb-0"></td>
                </tr>
                <tr>
                    <td colspan="3" class="bt-0 bb-0">
                        That he/she will, without resistance, allow applicable authorities (Security Department) at ŠKODA AUTO Volkswagen India Private Limited to perform an audit on the above mentioned video camera/ camera at any time while within the company premises.
                    </td>
                    <td class="skoda-border-0 bt-0 bb-0"></td>
                    <td class="skoda-border-0 bt-0 bb-0"></td>
                </tr>
                <tr>
                    <td colspan="3" class="bt-0 bb-0">
                        That this form relates only to ŠKODA AUTO Volkswagen India Private Limited premises and has no equity or influence within other companies in the Volkswagen Group.
                    </td>
                    <td class="skoda-border-0 bt-0 bb-0"></td>
                    <td class="skoda-border-0 bt-0 bb-0"></td>
                </tr>
                <tr>
                    <td colspan="3" class="bt-0 bb-0">
                        That failing to comply with the above could result in disciplinary action, which may lead to dismissal in accordance with the merits of the case.
                    </td>
                    <td class="skoda-border-0 bt-0 bb-0"></td>
                    <td class="skoda-border-0 bt-0 bb-0"></td>
                </tr>
                <tr>
                    <td colspan="3" class="bt-0 bb-0">
                        That in respect of non- ŠKODA AUTO Volkswagen India Private Limited persons, should any breach of these provisions be identified.  SAVWIPL shall be entitled to prevent access of such persons to the SAVWIPL premises in future and reserves the right to initiate civil proceedings against such persons, in accordance with the merits of the transgression.
                    </td>
                    <td class="skoda-border-0 bt-0 bb-0"></td>
                    <td class="skoda-border-0 bt-0 bb-0"></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <span class="weight-600">Please note:</span> This from is only applicable to the above mentioned devices and for the stipulated period.
                    </td>
                    <td class="skoda-border-0"></td>
                    <td class="skoda-border-0"></td>
                </tr>

                <tr>
                    <td colspan="3" class="weight-600">Declaration</td>
                    <td class="skoda-border-0"></td>
                    <td class="skoda-border-0"></td>
                </tr>
                <tr>
                    <td colspan="3">I declare that I have read abovementioned instructions and will abide by it & will wear a photo ‘jacket’ in Red & Orange zone.</td>
                    <td class="skoda-border-0"></td>
                    <td class="skoda-border-0"></td>
                </tr>
                <tr>
                    <td>
                        Requestor Name:
                    </td>
                    <td colspan="2">
                        Signature:
                    </td>
                    <td class="skoda-border-0"></td>
                </tr>
                <tr>
                    <td>Details of Photograph required</td>
                    <td>Purpose</td>
                    <td>Dept. & Location of photography</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>Zone:  Red / Orange / Green	</td>
                            </tr>
                            <tr>
                                <td class="weight-600">others</td>
                            </tr>
                        </table>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3" class="weight-600">Authorization by immediate superior</td>
                    <td class="skoda-border-0"></td>
                    <td class="skoda-border-0"></td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td colspan="2">Signature:</td>
                    <td class="skoda-border-0"></td>
                </tr>
                <tr>
                    <td class="clr-red">HOD of the restricted regime/zone</td>
                    <td colspan="2"></td>
                    <td class="skoda-border-0"></td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td colspan="2">Signature:</td>
                    <td class="skoda-border-0"></td>
                </tr>
                <tr>
                    <td>Valid from:</td>
                    <td colspan="2">Valid to:</td>
                    <td class="skoda-border-0"></td>

                </tr>
                <tr>
                    <td>(Validity: maximum 01 year for pre-series related photography, for other, 5 yrs for SAVWIPL employees )</td>
                    <td colspan="2"></td>
                    <td class="skoda-border-0"></td>
                </tr>
                <tr>
                    <td>Authorization from Security Department (only in case of external agency like media etc. involved)</td>
                    <td colspan="2"></td>
                    <td class="skoda-border-0"></td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td colspan="2">Signature:</td>
                    <td class="skoda-border-0"></td>
                </tr>
                <tr>
                    <td class="weight-600">
                        Exceptional Photo?
                        <span>
                            (Pre-series Full Car/Partial car with characteristics/ Cockpit)
                        </span>
                    </td>
                    <td> Yes/No</td>
                    <td>If Yes, Contact Comm’n & SO Dept.</td>
                </tr>
                <tr>
                    <td>Email address (Whom to share ‘exceptional photo’ of pre-series Car) : (SO wlll fwd)</td>
                    <td colspan="2"></td>
                    <td class="skoda-border-0"></td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        SF_SO/1_015.02 In case of exceptional photo, comm’n dept will take picture  & fwd. to SO.     HOD: please keep a copy of this permit as a record
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

