@{
    ViewBag.Title = "User Manual";
    Layout = null;
}

<h2>User Manual</h2>
<!DOCTYPE html>
<html>
<head>
    <title>User Manual</title>
</head>
<body>
    <iframe src="~/Doc/EForms_UserMaual.pdf" style="width: 100%;height: 100%;border: none;"></iframe>
</body>
</html>